#SUPABASE - SECRETS
NEXT_PUBLIC_SUPABASE_ANON_KEY= anonkey
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY= publishablekey
NEXT_PUBLIC_SUPABASE_URL= https://your-project.supabase.co
POSTGRES_DATABASE= postgres
POSTGRES_HOST= db.your-project.supabase.co
POSTGRES_PASSWORD= yourpassword
POSTGRES_PRISMA_URL= postgres://postgres.your-project:
POSTGRES_URL= postgres://postgres.your-project:
POSTGRES_URL_NON_POOLING= postgres://postgres.your-project:
POSTGRES_USER= postgres
SUPABASE_ANON_KEY= anonkey
SUPABASE_JWT_SECRET= yourjwtsecret
SUPABASE_PUBLISHABLE_KEY= publishablekey
SUPABASE_SECRET_KEY= yoursecretkey
SUPABASE_SERVICE_ROLE_KEY= yourservicerolekey
SUPABASE_URL= https://your-project.supabase.co

# MERCADO PAGO - ORDERS API SECRETS
MELI_PUBLIC_KEY=APP_USR-uuid
MELI_ACCESS_TOKEN=APP_USR-uuid
MELI_ACCESS_TOKEN=APP_USR-uuid
MELI_APP_ID=123456
MELI_USER_ID=123456
MELI_USER=TESTUSER123456
MELI_PASSWORD=yourpassword
MELI_VERIFICATION_CODE=123456